{% extends 'todo/base.html' %}
{% block content %}

{{ error }}
<h1>Мои дела</h1>
{{ todo.title }}
<form class="todof" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Сохранить</button>
</form>
<form  method="POST" action="{% url 'completetodo' todo.id %}">
  {% csrf_token %}
  <button type="submit">Выполнено</button>
</form>
<form  method="POST" action="{% url 'deletetodo' todo.id %}">
  {% csrf_token %}
  <button type="submit">Удалить</button>
</form>
{% endblock %}
